// Home.jsx
.home {
  background-color: #ff0000;
  width: 55rem;
  padding: 3rem;
  border-radius: 20px;
  border: 4px solid #8a2be2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 3rem auto;
  &__logo {
    width: 35rem;
    height: 35rem;
  }
  &__quote {
    color: #fff;
    font-weight: 300;
    text-align: center;
    width: 57rem;
    font-size: 2.75rem;
    margin: 0 auto;
  }
}
