// Home.jsx
.home {
  background-color: #000;
  width: 55rem;
  padding: 3rem;
  border-radius: 20px;
  border: 4px solid cyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 3rem auto;
  box-shadow: var(--shadow-dreamy);
  &--white {
    background: linear-gradient(#5af2fd, #50b1fe);
    border: 4px solid rgb(210, 64, 210);
  }
  &__logo {
    width: 35rem;
    height: 35rem;
    &--small {
      width: 37.75rem;
      height: auto;
      margin-bottom: 3rem;
    }
  }
  &__quote {
    color: #fff;
    font-weight: 300;
    text-align: center;
    width: 57rem;
    font-size: 2.75rem;
    margin: 0 auto;
  }
  // SignUp.jsx
  &__heading {
    font-family: 'Comfortaa', sans-serif;
    font-size: 2.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 3rem;
  }
}

.checkbox {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  &__input {
    margin-right: 1rem;
  }
}
